html, body { height: 100%; }
/*body > #container { height: auto; min-height: 100%; }*/

body
{
    background: #edefee url("../img/bg.png") repeat;
}
#main
{
    font-family: Book Antiqua;
    margin: 0px auto 0px;  
    width: 940px;
    padding-top: 120px;
    position: relative;
    /*margin-bottom: 65px;*/
}
h1, h2, h3, h4
{
    font-family: Century Gothic;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    color: #006cad;
}
h1
{
    font-size: 24px;
    color: #edefee;
    width: -moz-min-content;
    width: -webkit-min-content;
    width: min-content;
    margin: 0px auto;
    white-space: nowrap;
    float: right;
    margin-right: 60px;
    margin-top: 25px;
    position: relative;
}
/*h1 a img
{
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-left: 10px;
    border: 1px solid transparent;
    z-index: 2000;
}*/
h2
{
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 22px;
}
header
{
    width: 100%;
    background-color: #006cad;
    padding: 0px 0px 5px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000;
}
.shaded
{
    box-shadow: 0px 0px 15px #aaa;
    -webkit-box-shadow: 0px 0px 15px #aaa;
    -moz-box-shadow: 0px 0px 15px #aaa;
}
.clear
{
    clear: both;
    content: " ";
}
.lfloat
{
    float: left;
}
.rfloat
{
    float: right;
}
.centerBox
{
    width: 60%;
    margin: 0px auto 0px;
}
.hfont
{
    font-family: century Gothic;
    font-weight: bold;
}
.relative
{
    position: relative;
}
.myList
{
    width: 260px;
    display: inline-block;
    background-color: #cdf;
    border: 2px solid #006cad;
    -moz-border-radius: 3px;
    border-radius:  3px;
    margin: 5px;
}
.myList h2 
{
    background-color: #006cad;
    color: #edefee;
    margin: 0px;
    padding: 20px 0px;
}
.myList li
{
    list-style: none;
    display: block;
    border-top: 1px solid white;
    min-height: 40px;
}
.myList li span /* Is used when simple text is to be shown */
{
    display: inline-block;
    margin: 12px 0px 12px 10px;
}
.myList li a
{
    display: inline-block;
    padding: 10px;
    margin: 0px;
    text-decoration: none;
    width: 240px;
}
.myList li:hover
{
    background-color: #acf;
}
.myList li h3
{
    margin: 0px 0px 5px;
    text-align: left;
}
.myList li p
{
    color: #003c8d;
}
nav
{
    position: relative;
    width: -moz-min-content;
    width: -webkit-min-content;
    width: min-content;
    white-space: nowrap;
}
nav ol 
{
    margin-left: 0px;
    margin-left: 15px;
    margin-bottom: -5px;
    list-style-type: none;
    counter-reset: li;
    display: inline-block;
    border-bottom: 3px solid #5FB4D9;
}
nav a
{
    padding: 10px 20px 15px 50px;
    font-family: century Gothic;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    line-height: 45px;
    height: 45px;
    position: relative;
    display: block;
    border-bottom: 3px solid #5FB4D9;
    margin-bottom: -3px;
}
nav a.current
{
    /*border-bottom: 3px solid ;*/
}
nav ol a:before{
    content: counter(li);
    counter-increment: li;
    position: absolute; 
    left: 50%;
    transform: translate(-50%,0);
    bottom: -16px;
    margin-top: -1.3em;
    background: #5FB4D9;
    height: 1.5em;
    width: 1.5em;
    line-height: 1.5em;
    font-size: 1em;
    border: .2em solid #5FB4D9;
    text-align: center;
    border-radius: 1em;
    transition: all .3s ease-out;
    z-index: 100;
}
nav ol a.current:before{
    background: #FFD469;
    color: #666;
}
nav ol li
{
    display: inline-block;
    position: relative;
    
}
nav li:first-of-type:before, nav li:last-of-type:after
{
    display: block;
    height: 3px;
    width: 50%;
    background: #006cad;
    position: absolute;
    bottom: -3px;
    z-index: 50;
    content: " ";
}
nav li:first-of-type:before
{
    left: 0;
}
nav li:last-of-type:after
{
    right: 0;
}
nav li:first-of-type:hover:before, nav li:last-of-type:hover:after
{
    background: #006;
}

.delLink:not(#delConfirm)
{
    position: absolute;
    top: -6px;
    right: -40px;
    padding: 5px 10px 8px;
}
nav a:hover
{
    background: #006;
}
.delLink:hover
{
    background: #600;
}
nav a img
{
    position: absolute;
    top: 18px;
    left: 15px;
}
#delConfirm
{
    position: absolute;
    top: 35px;
    right: -40px;
    display: block;
    width: 240px;
    height: 80px;
    background: #000;
    /*border: 1px solid black;*/
    font-family: century Gothic;
    font-size: 14px;
    white-space: normal;
    font-weight: normal;
    text-align: center;
    padding: 10px;
    color: white;
    border-radius: 3px;
    z-index: 100;
    opacity: 10;
    display: none;
    opacity: 0.8;
}
#delConfirm a
{
    display: inline-block;
    width: 40px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    background: white;
    margin-top: 10px;
    text-transform: uppercase;
    text-decoration: none;
}
#delConfirm a:hover
{
    background: #666;
    color: white;
    /*border: 1px solid red;*/
}
#noElectionWarning
{
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%,-50%);
    padding: 20px;
    background: white;
    border: 1px solid #600;
    box-shadow: 0px 0px 4px #666;
    -webkit-box-shadow: 0px 0px 4px #666;
    -moz-box-shadow: 0px 0px 8px #666;

}

